header {
    text-align: center;
}
.frame {
    border: 2px solid black;
    padding-top: 50px;
    background:#42000C;
    margin: 0 390px;
}
@media(max-width: 1199px) {
    .frame {
        margin: 0 290px;
    }
}
@media(max-width: 991px) {
    .frame {
        margin: 0 180px;
    }
}
@media(max-width: 750px) {
    .frame {
        margin: 0 179px;
    }
}
@media(max-width: 430px) {
    .frame {
        margin: 0 17px;
    }
}
@media(max-width: 380px) {
    .frame {
        margin: 0 -8px;
    }
}
span {
    font-size: 30px;
    border: 1px solid black;
    padding: 35px 35px;
    margin: -2px;
    color: #fff;
    background: #63000E;
}
span:hover {
    background: #C01717;
}
.operations {
    background: #910D15;
}
.percent {
    padding: 34px 30px;
}
.numbers {
    text-align: right;
    font-size: 75px;
    color: #fff;
}

.ac {
    padding: 34px 23px;
    background: #910D15;
}
.equal {
    padding: 35px 35px;
    background: #910D15;
}
.integer {
    padding: 34px 25px;
}
.plus {
    padding: 35px 35px;
}
.divide {
    padding: 34px 35px;
}
.minus {
    padding: 35px 39px;
}

.desmical {
    padding: 35px 39px;
}
.zero {
    padding: 35px 79px;
}
.multiply {
    padding: 35px 36px;
}
.space {
    margin-bottom: -4px;
    padding: 33px 2px;
}